<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <a class="navbar-brand" href="/admin/dashboard"><img src="/img/logo-blog.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/admin/dashboard">Dashboard <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">|</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/categories">Categorias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">|</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/categories/new">Nova categoria</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">|</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/articles">Artigos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">|</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/articles/new">Novo Artigo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">|</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/articles">Usuarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">|</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Novo Usuario</a>
        </li>
        
      </ul>
      <form class="form-inline my-2 my-lg-0">
         <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Entrar</button>
      </form>
    </div>
  </nav>

  <br><br>