    <%- include('partials/header.ejs') %>
      <div class="container">
        <%- include('partials/head.ejs') %>       
          <h1>Olá, seja bem vindo ao meu blog</h1>
      </div>
      <%- include('partials/footer.ejs') %>
